* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand",  sans-serif;
    background-color: beige;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header img {
    margin: auto;
    width: 100px;
    border-radius: 50%;
    margin-top: 60px;
}

header h2 {
    font-size: 20px;
    margin-top: 10px;
}

header h3 {
    color: gray;
    font-size: 15px;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon a img {
    width: 20px;
}

.cv {
    display: inline-block;
    text-decoration: none;
    background-color: #C8AD7F;
    color: beige;
    font-weight: 600;
    margin: auto;
    width: 12%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

